<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <link rel="stylesheet" href="@Assets["lib/bootstrap/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["lib/bootstrap-icons/bootstrap-icons.min.css"]" />

    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body class="bg-body-tertiary p-3">
    <main>
        <Routes @rendermode="InteractiveServer" />
    </main>

    <script src="_framework/blazor.web.js"></script>
    <script>
        const setTheme = () => {
        document.documentElement.setAttribute('data-bs-theme', (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'));
        };

        window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', setTheme);
        setTheme();
    </script>
</body>

</html>
