@page "/"
@page "/day"
@page "/day/{dateparam:datetime?}"
@inherits CancellableComponentBase
@inject EntryService EntryService
@inject ProjectService ProjectService
@code {
    [Parameter] public DateTime? DateParam { get; set; }

    public DateOnly Date => DateOnly.FromDateTime(DateParam ?? DateTime.Today);

    private bool IsToday => Date == DateOnly.FromDateTime(DateTime.Today);

    public List<EntryModel> Entries { get; set; } = [];

    public List<ProjectModel> Projects { get; set; } = [];

    private bool IsLoading { get; set; } = true;

    private bool CanCopy => IsToday && Entries.Count == 0;

    protected override async Task OnParametersSetAsync()
    {
        Projects = await ProjectService.GetProjectsAsync(CancellationToken);
        await LoadDayAsync();
    }

    private async Task OnEntryChangedAsync()
    {
        await LoadDayAsync(false);
    }

    private async Task LoadDayAsync(bool showLoading = true)
    {
        if (showLoading)
        {
            IsLoading = true;
            StateHasChanged();
        }

        Entries = await EntryService.GetEntriesAsync(Date, CancellationToken);

        if (showLoading)
        {
            IsLoading = false;
        }

        StateHasChanged();
    }

    private async Task AddEntryAsync()
    {
        var entryId = await EntryService.CreateEntryAsync(Date, CancellationToken);

        Entries.Add(new EntryModel
        {
            Id = entryId,
            Date = Date
        });

        StateHasChanged();
    }

    private async Task CopyEntriesAsync()
    {
        await EntryService.CopyFromPreviousDayAsync(CancellationToken);
        await LoadDayAsync();
    }
}

@if (IsLoading)
{
    <PageTitleWithSuffix>Loading...</PageTitleWithSuffix>

    <Loader />
}
else
{
    <PageTitleWithSuffix>@(Date.ToString("yyyy-MM-dd"))</PageTitleWithSuffix>

    <div class="vstack gap-3">
        <DayToolbar Date="Date" OnAddEntry="AddEntryAsync" />

        <EntryList Entries="Entries"
                   Projects="Projects"
                   OnEntryChanged="OnEntryChangedAsync"
                   CanCopy="CanCopy"
                   OnCopy="CopyEntriesAsync" />
    </div>
}
